<div class="jumbotron py-2">
  <h1 class="display-4 text-center">Bob Marbles Form</h1>
</div>
<div class="row">
  <app-marbleform></app-marbleform>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Weight</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of service.list">
        <td (click)="populateForm(row)">{{row.name}}</td>
        <td (click)="populateForm(row)">{{row.color}}</td>
        <td (click)="populateForm(row)">{{row.weight}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(row.id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div> 
